<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>devBlog</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/jQuery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>